:root{
    --black:#373A3C;
    --dark:#0F0F0F;
    --white: white;
    --blue: #17A2B8;
    --raleway:"Raleway", sans-serif;
    --font-regular:400;
    --font-black:700;
}
body{
    font-family: var(--raleway);
}
.navbar{
    background-color:var(--black)!important;
    padding: 23px 0;
}
.c-white{
    color:var(--white)!important;
}
.c-black{
    color:var(--black)!important;
}

.f-regular{
font-weight: var(--font-regular);
}
.f-black{
    font-weight: var(--font-black);
}
.bg-blue{
    background:var(--blue);
}
.bg-dark{
    background:var(--dark);
}
.hero-container{
    background: url(../img/bg-hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:70vh;
    padding:0 15%;
}
.site-padding-lr{
    padding-left: 7%;
    padding-right:7%;
}
.hero_buttons{

}

.about-section ul{
    padding:0;
    margin: 0 auto;
}

.about-section ul li{
    list-style: none;
}
.card-icon p{
max-width:250px;
}

.image-cutter{
    height: 260px;
    overflow: hidden;
}
.btn-blue{
    border:var( --blue) solid 1px;
    color:var(--white);
    background:var(--blue);
}
.btn-blue:hover{
    border:var( --blue) solid 1px;
    color:var(--white);
    background:var(--blue);
}
.btn-blue-outline{
    border:var( --blue) solid 1px;
    color:var(--white);
}
.btn-blue-outline:hover{
    background:var( --blue);
    color:white;
    border:var( --blue) solid 1px;
}
.btn-blue-outline-negative{
    color:var(--blue);
}

/* toggle */
.navbar-toggler{
    border: white solid 1px;
}
.navbar-toggler-icon{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}